body {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#one{
    position: relative;
    top: 0vh;
}
.s {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 10px outset blue;
    text-align: center;
    width: 300px;
    position: absolute;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

input[type="url"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#s1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}